#root{
    background:rgba(117, 29, 7, 0.877);
    color: white;
    font-family: 'Orbitron', sans-serif;
    border-radius: 20px;
}

.mycalc{
    width: 310px;
    border-radius: 20px;
}

.buttons{
    display: inline-block;
    margin: 23px 15px;
}

.btn{
    background:rgb(80, 48, 7);
    color: white;
    border-radius:30px;
    width: 60px;
    height: 60px;
    margin: 5px;
    font-size: 25px;
}
.btn:hover{
    background:black;
    color:white;
 }

.btn-calc{
    background: #07722b;
  
}
.btn-action{
    background: #420909;
    color: white;
 
}

.btn-0{
    background:rgb(80, 48, 7);
    color: white;
    border: 0px;
    margin: 5px;
    padding: 5%;
    width: 130px;
    border-radius: 120px;
    height: 60px;
    font-size: 25px;
}
.btn-0:hover{
    background: rgb(8, 8, 8);
    color: white;
}
.result{
    width: 100%;
    height: 62px;
    margin-top: 10px;
    background: #161303e0;
    border-radius: 20px;
}   

.result p{
    text-align: right;
    font-size: 30px;
    padding-top: 14px;
    padding-right: 10px;

}

#equalBtn{
background-color:rgb(80, 48, 7);
}
#equalBtn:hover{
    background-color:red;
    color: white;
}